# Created by venv; see https://docs.python.org/3/library/venv.html
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Virtual environment
venv/

# Django stuff
*.log
*.pot
*.pyc
*.mo
db.sqlite3

# Env files
.env

# IDEs / editors
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
