{% extends '_base.html' %}


{% block content %}
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">
  <div class="text-center border border-2 border-info rounded-4 p-4" style="background-color: #e9f6fb; width: 260px;">
    <h2 class="text-success fw-bold mb-2">Picture Word Puzzle</h2>
    <p class="text-warning fw-semibold mb-3">ARE YOU ?</p>
    
    <div class="d-grid gap-2">
      <a href="{% url 'men_signup' %}"><button class="btn btn-secondary fw-bold">MAN</button></a>
      <a href="{% url 'women_signup' %}"><button class="btn btn-secondary fw-bold">WOMAN</button></a>
      <a href="{% url 'kids_signup' %}"><button class="btn btn-secondary text-capitalize">kid</button></a>
    </div>
  </div>
</body>

{% endblock content %}